<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>NuevoUsuarioServlet</servlet-name>
    <servlet-class>servlets.NuevoUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevoUsuarioServlet</servlet-name>
    <url-pattern>/InsertarUsuario.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>EditarUsuarioServlet</servlet-name>
    <servlet-class>servlets.EditarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarUsuarioServlet</servlet-name>
    <url-pattern>/EditarUsuario.do</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>DatosUsuarioServlet</servlet-name>
    <servlet-class>servlets.DatosUsuarioServlet</servlet-class>
 </servlet>
  <servlet-mapping>
    <servlet-name>DatosUsuarioServlet</servlet-name>
    <url-pattern>/VerUsuario.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BorrarUsuarioServlet</servlet-name>
    <servlet-class>servlets.BorrarUsuarioServlet</servlet-class>
 </servlet>
  <servlet-mapping>
    <servlet-name>BorrarUsuarioServlet</servlet-name>
    <url-pattern>/BorrarUsuario.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>